<form action="/solution" method = "POST">
    <p>Expression <input type = "text" name = "Expression" /></p>
    <p>Symbol <input type = "text" name = "Symbol" /></p>
    <p><input type = "submit" value = "Submit" /></p>
</form>
